*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 1.5;
  font-family: "PingFang TC" "sans-serif";
  font-weight: 300;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  line-height: 95px;
  font-style: "SF Pro Text";
  border-bottom: 2px solid black;
  padding-bottom: 24px;
  padding-top: 40px;
}

h2 {
  font-size: 32px;
  line-height: 45px;
  color: #000000;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-top: 48px;
  margin-bottom: 16px;
}

span {
  padding-left: 16px;
  color: #a00404;
  font-size: 24px;
  line-height: 29px;
  font-style: "SF Pro Text";
  font-weight: 600;
}

p {
  margin-bottom: 24px;
}

.profileImage {
  width: 324px;
  height: 324px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.skill-section {
  background-color: #415165;
  color: #ffffff;
  text-align: center;
  padding-bottom: 52px;
}

.skill-section h2,
.skill-section span {
  padding-top: 20px;
}

.skill-section h2 {
  border-bottom: 2px solid white;
  width: 996px;
  margin: 0 auto;
  text-align: center;
}

.skill-section li {
  border-left: 1px white solid;
  margin-left: 24px;
  padding-bottom: 10px;
  width: 220px;
  margin: 0 auto;
}

.skill-section ul {
  margin-top: 24px;
  text-align: left;
  padding-left: 10px;
}

.workExp-section li {
  font-weight: 800;
  padding: 15px;
  border-left: 1px solid grey;
  margin-left: 24px;
}

.workExp-section ul {
  padding-top: 20px;
}

.workExp-section p {
  width: 642px;
  font-size: 20px;
  line-height: 30px;
  font-style: "蘋方-繁";
  font-weight: lighter;
}

.contact {
  background-color: #415165;
  padding-top: 24px;
  margin-top: 48px;
}

.contact h2 {
  border-bottom: 1px solid white;
  width: 1200px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.contact span {
  color: white;
}

.contact ul {
  text-align: center;
  padding: 10px;
  color: white;
}
.contact li {
  padding: 5px;
}
.contact a {
  color: white;
  text-decoration: none;
}

.contact a:hover {
  color: orange;
}
.socialMediaLink {
  display: flex;
  justify-content: center;
}
.contact img {
  padding-right: 20px;
}
