.wrapper {
  margin:0 auto;
  width: 640px;
}

.content {
  display: flex;
}

ul li {
  display: flex;
  margin-bottom: 24px;
}

ul .news{
  margin-right: 20px;
  margin-left: 20px;
}

li h2 {
  font-size: 20px;
  line-height: 1.2;
}

li p, .footer p {
  font-size: 16px;
  line-height: 1.5;
}

.footer p {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}





























































/* .wrapper{
  margin: 0 auto;
  width: 640px;
}

.content{
  display:flex;
}

ul li {
  display: flex;
  margin-bottom: 24px;
}

ul .info{
  margin-right: 20px;
  margin-left: 20px;
}

li h2 {
  font-size: 20px;
  line-height: 1.2;
}

li p, .footer p {
  font-size: 16px;
  line-height: 1.5;
}

.footer p {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
} */

/* attempts */

/* .wrapper{
  margin:0 auto;
  width: 640px;
}

.content {
  display:flex;
}

ul li {
  display:flex;
  margin-bottom: 24px;
}

ul .news{
  margin-right: 20px;
  margin-left: 20px;
}

li h2 {
  font-size: 20px;
  line-height: 1.2;
}

li p, .footer p {
  font-size: 16px;
  line-height: 1.5;
}

.footer p {
  text-align:center;
  padding-top: 48px;
  padding-bottom: 48px;

} */